<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap"
      rel="stylesheet"
    />
    <title>Cowin Alerts</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        background-color: rgb(237, 242, 247);
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
      }
      .main-wrapper {
        width: 460px;
        margin: 80px auto;
      }
      .main-card {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        text-align: center;
        box-shadow: rgba(36, 69, 101, 0.19) 0px 10px 15px -3px,
          rgb(208, 220, 232) 0px 4px 6px -2px;
      }
    </style>
  </head>
  <body>
    <div class="main-wrapper">
      <div style="text-align: center;margin-bottom: 23px;">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="186.005"
          height="29"
          viewBox="0 0 186.005 29"
        >
          <g
            id="Group_1681"
            data-name="Group 1681"
            transform="translate(-38.995 -30)"
          >
            <text
              id="cowin_alerts"
              data-name="cowin alerts"
              transform="translate(71 53)"
              fill="#161922"
              font-size="24"
              font-family="Montserrat-Bold, Montserrat"
              font-weight="700"
            >
              <tspan x="0" y="0">cowin alerts</tspan>
            </text>
            <g id="Flat" transform="translate(35.995 26.987)">
              <path
                id="Path_1"
                data-name="Path 1"
                d="M0,0H2V5H0Z"
                transform="translate(6.721 14.144) rotate(-45)"
                fill="#870e4f"
              />
              <path
                id="Path_2"
                data-name="Path 2"
                d="M0,0H2V5H0Z"
                transform="translate(17.327 24.753) rotate(-45)"
                fill="#870e4f"
              />
              <path
                id="Path_3"
                data-name="Path 3"
                d="M0,0H5V2H0Z"
                transform="translate(6.72 26.874) rotate(-45)"
                fill="#870e4f"
              />
              <circle
                id="Ellipse_1"
                data-name="Ellipse 1"
                cx="6.501"
                cy="6.501"
                r="6.501"
                transform="translate(7.949 13.957)"
                fill="#ad1456"
              />
              <g
                id="Group_1"
                data-name="Group 1"
                transform="translate(3 9.008)"
              >
                <path
                  id="Path_4"
                  data-name="Path 4"
                  d="M24,49h2v4.5H24Z"
                  transform="translate(-13.498 -31.996)"
                  fill="#870e4f"
                />
                <ellipse
                  id="Ellipse_2"
                  data-name="Ellipse 2"
                  cx="2"
                  cy="1.5"
                  rx="2"
                  ry="1.5"
                  transform="translate(9.502 20.004)"
                  fill="#870e4f"
                />
                <path
                  id="Path_5"
                  data-name="Path 5"
                  d="M24,18h2v5H24Z"
                  transform="translate(-13.498 -16.5)"
                  fill="#870e4f"
                />
                <ellipse
                  id="Ellipse_3"
                  data-name="Ellipse 3"
                  cx="2"
                  cy="1.5"
                  rx="2"
                  ry="1.5"
                  transform="translate(9.502)"
                  fill="#870e4f"
                />
                <ellipse
                  id="Ellipse_4"
                  data-name="Ellipse 4"
                  cx="2"
                  cy="1.5"
                  rx="2"
                  ry="1.5"
                  transform="translate(16.095 18.928) rotate(-45)"
                  fill="#870e4f"
                />
                <ellipse
                  id="Ellipse_5"
                  data-name="Ellipse 5"
                  cx="2"
                  cy="1.5"
                  rx="2"
                  ry="1.5"
                  transform="translate(1.953 4.783) rotate(-45)"
                  fill="#870e4f"
                />
                <path
                  id="Path_6"
                  data-name="Path 6"
                  d="M36,36h5v2H36Z"
                  transform="translate(-19.496 -25.498)"
                  fill="#870e4f"
                />
                <ellipse
                  id="Ellipse_6"
                  data-name="Ellipse 6"
                  cx="1.5"
                  cy="2"
                  rx="1.5"
                  ry="2"
                  transform="translate(20.004 9.502)"
                  fill="#870e4f"
                />
                <path
                  id="Path_7"
                  data-name="Path 7"
                  d="M6,36h5v2H6Z"
                  transform="translate(-4.5 -25.498)"
                  fill="#870e4f"
                />
                <ellipse
                  id="Ellipse_7"
                  data-name="Ellipse 7"
                  cx="1.5"
                  cy="2"
                  rx="1.5"
                  ry="2"
                  transform="translate(0 9.502)"
                  fill="#870e4f"
                />
                <ellipse
                  id="Ellipse_8"
                  data-name="Ellipse 8"
                  cx="1.5"
                  cy="2"
                  rx="1.5"
                  ry="2"
                  transform="translate(1.951 18.219) rotate(-45)"
                  fill="#870e4f"
                />
                <circle
                  id="Ellipse_9"
                  data-name="Ellipse 9"
                  cx="1"
                  cy="1"
                  r="1"
                  transform="translate(8.502 8.502)"
                  fill="#870e4f"
                />
                <ellipse
                  id="Ellipse_10"
                  data-name="Ellipse 10"
                  cx="2.501"
                  cy="1"
                  rx="2.501"
                  ry="1"
                  transform="translate(9.002 13.003)"
                  fill="#870e4f"
                />
              </g>
              <path
                id="Path_8"
                data-name="Path 8"
                d="M0,0H10.609V4.243H0Z"
                transform="translate(18 14.009) rotate(-45)"
                fill="#1f88e5"
              />
              <path
                id="Path_9"
                data-name="Path 9"
                d="M0,0H3.536V2.829H0Z"
                transform="translate(26.002 7.01) rotate(-45)"
                fill="#1f88e5"
              />
              <path
                id="Path_10"
                data-name="Path 10"
                d="M25.5,34.507a.5.5,0,0,1-.354-.854l3.5-3.5a.5.5,0,0,1,.707.707l-3.5,3.5A.5.5,0,0,1,25.5,34.507Z"
                transform="translate(-10.997 -13.497)"
                fill="#253238"
              />
              <path
                id="Path_11"
                data-name="Path 11"
                d="M33,29l-1-1,1-2,2,2Z"
                transform="translate(-14.497 -11.491)"
                fill="#1665c0"
              />
              <path
                id="Path_12"
                data-name="Path 12"
                d="M50.507,13.007a.5.5,0,0,1-.354-.147l-4-4a.5.5,0,0,1,.707-.707l4,4a.5.5,0,0,1-.354.854Z"
                transform="translate(-21.501 -2.499)"
                fill="#1665c0"
              />
              <path
                id="Path_13"
                data-name="Path 13"
                d="M36.535,22.815a.512.512,0,0,1-.355.145.522.522,0,0,1-.355-.145s-.651-.656-.665-.675l.7-.7c.02.014.675.665.675.665A.5.5,0,0,1,36.535,22.815Z"
                transform="translate(-16.077 -9.212)"
                fill="#1665c0"
              />
              <path
                id="Path_14"
                data-name="Path 14"
                d="M39.435,19.915a.5.5,0,0,1-.705,0s-.657-.657-.67-.675l.7-.7c.021.012.675.665.675.665A.506.506,0,0,1,39.435,19.915Z"
                transform="translate(-17.526 -7.762)"
                fill="#1665c0"
              />
              <path
                id="Path_15"
                data-name="Path 15"
                d="M42.335,17.015a.5.5,0,0,1-.705,0s-.657-.657-.67-.675l.7-.7c.021.012.675.665.675.665A.5.5,0,0,1,42.335,17.015Z"
                transform="translate(-18.976 -6.312)"
                fill="#1665c0"
              />
              <path
                id="Path_16"
                data-name="Path 16"
                d="M45.24,14.11a.489.489,0,0,1-.692.014l-.014-.014s-.653-.655-.665-.675l.7-.7c.021.012.675.665.675.665A.5.5,0,0,1,45.24,14.11Z"
                transform="translate(-20.431 -4.863)"
                fill="#1665c0"
              />
              <path
                id="Path_17"
                data-name="Path 17"
                d="M55.507,8.007a.5.5,0,0,1-.354-.147l-4-4a.5.5,0,0,1,.707-.707l4,4a.5.5,0,0,1-.354.854Z"
                transform="translate(-24.001 0)"
                fill="#1665c0"
              />
            </g>
          </g>
        </svg>
      </div>
      <div class="main-card">
        <div style="line-height: 24px">
          <div style="font-size: 20px; line-height: 30px; font-weight: bold; margin-bottom: 6px;">
            Unsubscribed successfully!
          </div>
          <div style="font-size: 16px">Thank you for using Cowin Alerts.</div>
          <br />

          <div>
            Feel free to email your feedback <br />
            at
            <a href="mailto:cowin-alerts@pixeldust.in" style="color: #4255fe"
              >cowin-alerts@pixeldust.in</a
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
